# Pandas Serisi Oluşturmak (1) #

Bir pandas serisi nasıl oluşturulur ? İlk olarak PANDAS kütüphanesi import edilmelidir.

In [1]:
import pandas as pd

In [2]:
pd.Series([10,50,60,85,58])

0    10
1    50
2    60
3    85
4    58
dtype: int64

Pandas serisi bu şekilde aynı Numpyda da olduğu gibi oluşturulur.

In [14]:
seri=pd.Series([10,50,60,85,58,35,65]) 
seri

0    10
1    50
2    60
3    85
4    58
5    35
6    65
dtype: int64

In [5]:
seri.dtype #---> Böyle sorgulayarak tip bilgisi hakkında bilgi sahibi olabiliriz.

dtype('int64')

In [6]:
seri.ndim #--> ndim kullanarak boyut sayısı hakkında bilgi alabiliriz.(Tek boyutlu bir vektör)

1

In [17]:
seri.size #-->Size kullanarak elaman sayısı hakkında bilgi alabiliriz.

7

In [18]:
seri.values #-->İçindeki bilgileri değerleri almak istersek bunu kullanabiliriz.

array([10, 50, 60, 85, 58, 35, 65], dtype=int64)

In [16]:
seri.head(3) #head() fonksiyonu kullanarak ilk bir kaç bilgiyi getirebiliriz.

0    10
1    50
2    60
dtype: int64

In [15]:
seri.tail(2) #tail() fonksiyonunu kullanarak sondan istediğimiz kadar fonksiyonu getirebiliriz.

5    35
6    65
dtype: int64

**İndexler sadece sayı olmak zorunda değildir**

In [27]:
pd.Series([11,22,33,34,55,66,99], index=["a","b","c","d","e","f","g"])

a    11
b    22
c    33
d    34
e    55
f    66
g    99
dtype: int64

In [28]:
seri=pd.Series([11,22,33,34,55,66,99], index=["a","b","c","d","e","f","g"])

Görüldüğü üzere sözlük yapılarıyla benzerlik göstermektedir.Bu şekilde indexleri değiştirebiliyoruz.

In [29]:
seri["a"] #--> Bu şekilde a indexine karşılık gelen değeri bulmuş olduk.

11

In [30]:
seri["a":"c"] # a --->c doğru git (slice işlemi yapılmıştır.)

a    11
b    22
c    33
dtype: int64

## Sözlükler üzerinden de liste işlemi yapabiliriz. ##

In [31]:
sozluk = pd.Series({"kobe":24,"lebron":6,"jordan":23})

In [32]:
seri=pd.Series(sozluk)
seri

kobe      24
lebron     6
jordan    23
dtype: int64

_Görüldüğü üzere pd.Series içine sozluk yazılıp istediğimiz şekilde pandas listesi oluşturmuş olduk._

## İki seriyi nasıl birleştirebiliriz? ##

In [33]:
pd.concat([seri,seri])

kobe      24
lebron     6
jordan    23
kobe      24
lebron     6
jordan    23
dtype: int64

Burada concat() içine köşeli parantezleri koymak şartıyla oluşturabiliriz.