# Gözlem ve Değişken Seçimi(5) #

In [7]:
import numpy as np
import pandas as pd
a=np.random.randint(1,30,size=(10,3))
df=pd.DataFrame(a,columns=["sutun1","sutun2","sutun3"])    
df

   sutun1  sutun2  sutun3
0      11       3      29
1      26       4      25
2      26      13      19
3      12       9      28
4      27      14      20
5       4      12      27
6      21       7       3
7       2       3      15
8       7      19      19
9       6      18      24

In [9]:
?np.random.randint #--> Neler yapılabileceğine bu şekilde bakabiliriz.

Docstring:
randint(low, high=None, size=None, dtype=int)

Return random integers from `low` (inclusive) to `high` (exclusive).

Return random integers from the "discrete uniform" distribution of
the specified dtype in the "half-open" interval [`low`, `high`). If
`high` is None (the default), then results are from [0, `low`).

.. note::
    New code should use the ``integers`` method of a ``default_rng()``
    instance instead; please see the :ref:`random-quick-start`.

Parameters
----------
low : int or array-like of ints
    Lowest (signed) integers to be drawn from the distribution (unless
    ``high=None``, in which case this parameter is one above the
    *highest* such integer).
high : int or array-like of ints, optional
    If provided, one above the largest (signed) integer to be drawn
    from the distribution (see above for behavior if ``high=None``).
    If array-like, must contain integer values
size : int or tuple of ints, optional
    Output shape.  If the given shape is, e.g., ``(m, n, k)``, then
    ``m * n * k`` samples are drawn.  Default is None, in which case a
    single value is returned.
dtype : dtype, optional
    Desired dtype of the result. Byteorder must be native.
    The default value is int.

    .. versionadded:: 1.11.0

Returns
-------
out : int or ndarray of ints
    `size`-shaped array of random integers from the appropriate
    distribution, or a single such random int if `size` not provided.

See Also
--------
random_integers : similar to `randint`, only for the closed
    interval [`low`, `high`], and 1 is the lowest value if `high` is
    omitted.
Generator.integers: which should be used for new code.

Examples
--------
>>> np.random.randint(2, size=10)
array([1, 0, 0, 0, 1, 1, 0, 0, 1, 0]) # random
>>> np.random.randint(1, size=10)
array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

Generate a 2 x 4 array of ints between 0 and 4, inclusive:

>>> np.random.randint(5, size=(2, 4))
array([[4, 0, 2, 1], # random
       [3, 2, 2, 0]])

Generate a 1 x 3 array with 3 different upper bounds

>>> np.random.randint(1, [3, 5, 10])
array([2, 2, 9]) # random

Generate a 1 by 3 array with 3 different lower bounds

>>> np.random.randint([1, 5, 7], 10)
array([9, 8, 7]) # random

Generate a 2 by 4 array using broadcasting with dtype of uint8

>>> np.random.randint([1, 3, 5, 7], [[10], [20]], dtype=np.uint8)
array([[ 8,  6,  9,  7], # random
       [ 1, 16,  9, 12]], dtype=uint8)
Type:      builtin_function_or_method

# loc #

loc: Tanımladığı şekli ile işlem yapılır.Bir örnekle açıklayalım.

In [10]:
df.loc[0:3]

   sutun1  sutun2  sutun3
0      11       3      29
1      26       4      25
2      26      13      19
3      12       9      28

--> Görüldüğü üzere tanımlandığı gibi alınmıştır. Yani üç dahil edilmiştir.

In [11]:
df

   sutun1  sutun2  sutun3
0      11       3      29
1      26       4      25
2      26      13      19
3      12       9      28
4      27      14      20
5       4      12      27
6      21       7       3
7       2       3      15
8       7      19      19
9       6      18      24

# iloc #

iloc: Alışık olduğumuz indexleme mantığına göre yapılmaktadır.Bir örnekle açıklayalım.

In [13]:
df.iloc[0:3,0:2]

   sutun1  sutun2
0      11       3
1      26       4
2      26      13

-->Sıfırdan başlayıp 3 e kadar al.(3 dahil değil).Sütunlarda 0 dan başla 2 e kadar(2 dahil değil)

In [14]:
df

   sutun1  sutun2  sutun3
0      11       3      29
1      26       4      25
2      26      13      19
3      12       9      28
4      27      14      20
5       4      12      27
6      21       7       3
7       2       3      15
8       7      19      19
9       6      18      24

In [16]:
df.loc[0:3,"sutun3"] #-->Bu şekilde çalışmaktadır.

0    29
1    25
2    19
3    28
Name: sutun3, dtype: int32

In [18]:
#df.iloc[0:3,"sutun3"]  dediğimizde ise hata almaktayız.

In [19]:
df.iloc[0:3]["sutun3"] #--> Bu şekilde dersek hata almayız.

0    29
1    25
2    19
Name: sutun3, dtype: int32

-->iloc işlemi yaparken sütun ismi yanına yazılır.