# Dataframe Oluşturmak (3) #

In [6]:
import pandas as pd

In [8]:
a=[34,35,36,37,38] # Bir tane yeni liste oluşturuyoruz.

In [4]:
a

[34, 35, 36, 37, 38]

In [14]:
pd.DataFrame(a, columns = ["Plaka"],index=["İstanbul","İzmir","Kars","Kastamonu","Kayseri"])

           Plaka
İstanbul      34
İzmir         35
Kars          36
Kastamonu     37
Kayseri       38

In [17]:
import numpy as np

In [19]:
b= np.arange(1,10).reshape((3,3)) # Üçe üçlük bir matris oluşturduk.
b

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [26]:
pd.DataFrame( b,columns=["x","y","z"] ) #-->Görüldüğü üzere atama yaptık.
df=pd.DataFrame( b,columns=["x","y","z"] )

In [27]:
df

   x  y  z
0  1  2  3
1  4  5  6
2  7  8  9

İstersek sütunların adlarını şu şekilde değiştirebiliriz.

In [25]:
df.columns = ("k","l","m")
df

   k  l  m
0  1  2  3
1  4  5  6
2  7  8  9

In [28]:
type(df)

pandas.core.frame.DataFrame

In [29]:
df.axes

[RangeIndex(start=0, stop=3, step=1), Index(['x', 'y', 'z'], dtype='object')]

Bunun anlamı şudur. O dan başlıyor. 3 e kadar gidiyor(3 dahil değil).Birer birer artıyor.

In [30]:
df.shape #Shape boyut bilgisi  hakkında bilgi verirdi.

(3, 3)

In [31]:
df.size #Kaç eleman olduğu hakkında bilgi verirdi.

9

In [32]:
df.ndim # Kaç boyutlu olduğu hakkında bilgi verirdi

2

In [33]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [35]:
df.head() #Baştakileri getirirdi

   x  y  z
0  1  2  3
1  4  5  6
2  7  8  9

In [37]:
df.tail(1) #Sondakileri getirirdi.

   x  y  z
2  7  8  9

In [38]:
a=np.array([1,2,3,4,5])

In [40]:
c=pd.DataFrame(a,columns=["Bilgi"])
c

   Bilgi
0      1
1      2
2      3
3      4
4      5