# Koşullu Eleman İşlemleri (6)

In [5]:
import numpy as np
import pandas as pd
a=np.random.randint(1,30,size=(10,3))
df=pd.DataFrame(a,columns=["sutun1","sutun2","sutun3"])

In [6]:
df

   sutun1  sutun2  sutun3
0      11      24       6
1      29      29      26
2       3      12       2
3      24       7       2
4      19       5       1
5      24      22       5
6       7      11      18
7      26      29      27
8      17       9      21
9       8      22       8

In [7]:
df.size #--> Kaç eleman olduğu hakkında bilgi verirdi.

30

In [8]:
df.ndim #--> Boyut sayısı bilgisi verirdi.

2

In [10]:
df.shape #-->Boyut bilgisi verirdi.

(10, 3)

In [12]:
df["sutun1"]

0    11
1    29
2     3
3    24
4    19
5    24
6     7
7    26
8    17
9     8
Name: sutun1, dtype: int32

In [14]:
df[0:2][["sutun1","sutun3"]]

   sutun1  sutun3
0      11       6
1      29      26

Fancy de iç içe sorgu yaptığımız için yazdık.

In [19]:
df[df.sutun1 > 20]# Burada sütun1>20 için getir dedik.Hepsi ile beraber geldi.

   sutun1  sutun2  sutun3
1      29      29      26
3      24       7       2
5      24      22       5
7      26      29      27

In [20]:
df[df.sutun1 > 20]["sutun1"] # Burada sadece sutun1 ile getirdik.Sınr koyduk.

1    29
3    24
5    24
7    26
Name: sutun1, dtype: int32

In [21]:
df[(df.sutun1>20) & (df.sutun3>15)]

   sutun1  sutun2  sutun3
1      29      29      26
7      26      29      27

& bağlacı ve anlamında kullanılmıştır.

In [24]:
df.loc[(df.sutun1>20),["sutun1","sutun2"]]

   sutun1  sutun2
1      29      29
3      24       7
5      24      22
7      26      29

loc ta iç içe kullanım yapabiliyorduk.